*.err
*.h5
*.json
runs/*
__pycache__/
*.pyc
*.pkl
*.env
.idea/
**.idea/
*.slurm
docs/_build/
*.lock
docs/_build/
*.ckpt

mlruns/*
saxs_to_saxs/*
*.out
les_to_saxs/

.ipynb_checkpoints/
Mat_Cext_Ag_cylinder
config_locales/
train_results/