experiment_name: PAIR_VAE_CARO
run_name: pairvae_loss_caro

mlflow_uri: 
dataset:
  conversion_dict: 
  hdf5_file: "/projects/pnria/DATA/AUTOFILL/pair_data.h5"
  metadata_filters:
  requested_metadata: 
  sample_frac: 1.0

training:
  output_dir: "/projects/pnria/caroline/AUTOFILL/pair_vae/runs/"
  num_gpus: 1
  num_epochs: 250
  warmup_epochs: 5
  patience: 20
  use_loglog: false

  batch_size: 8
  num_workers: 1

  weighted_loss: False
  weighted_loss_limit_index: 400

  lambda_param: 0.005
  weight_latent_similarity: 1.0e-05
  weight_les2les: 1
  weight_les2saxs: 1
  weight_saxs2les: 1
  weight_saxs2saxs: 1

  max_lr: 1.0e-05

  T_max: 25
  eta_min: 1.0e-15
  array_train_indices: /projects/pnria/DATA/AUTOFILL/train_(pair_saxs_les).npy
  array_val_indices: /projects/pnria/DATA/AUTOFILL/val_(pair_saxs_les).npy

model:
  VAE_LES:
    vae_class: ResVAEBN 
    path_checkpoint: /projects/pnria/julien/autofill/runs/les_cylinder_ag_grid_2_latent_dim=128_beta=1e-05/best.ckpt
    args:


  VAE_SAXS:
    vae_class: ResVAEBN 
    path_checkpoint: /projects/pnria/julien/autofill/runs/saxs_cylinder_ag_grid_3_latent_dim=128_beta=1e-06/best.ckpt
    args:

param_grid:
  training.weight_latent_similarity: [0.005, 0.001]
  training.weight_saxs2saxs: [ 0.04, 0.01]
  training.weight_les2les: [0.04, 0.01]
  training.weight_saxs2les: [0.5, 1.0]
  training.weight_les2saxs: [0.5, 1.0]