experiment_name: PAIR_VAE
run_name: pairvae
dataset:
  conversion_dict: 
  hdf5_file: "DATA/pair_all_data.hdf5"
  metadata_filters:
  requested_metadata: 
  sample_frac: 1

training:
  output_dir: "runs/"
  num_gpus: 1
  num_epochs: 1
  warmup_epochs: 5
  patience: 20
  use_loglog: false

  batch_size: 8
  num_workers: 1

  weighted_loss: False
  weighted_loss_limit_index: 400

  lambda_param: 0.005
  weight_latent_similarity: 1.0e-05
  weight_les2les: 1
  weight_les2saxs: 1
  weight_saxs2les: 1
  weight_saxs2saxs: 1

  max_lr: 1.0e-05

  T_max: 25
  eta_min: 1.0e-15
  array_train_indices: DATA/train_pairs_saxs_les.npy
  array_val_indices: DATA/val_pairs_saxs_les.npy
  array_test_indices: DATA/test_pairs_saxs_les.npy

model:
  type: pair_vae
  ckpt_path_les: DATA/best_saxs.ckpt
  ckpt_path_saxs: DATA/best_saxs.ckpt

param_grid:
  training.weight_latent_similarity: [0.005, 0.001]
  training.weight_saxs2saxs: [ 0.04, 0.01]
  training.weight_les2les: [0.04, 0.01]
  training.weight_saxs2les: [0.5, 1.0]
  training.weight_les2saxs: [0.5, 1.0]