experiment_name: PAIR_VAe
run_name: pairvae_loss_spe

mlflow_uri: https://mlflowts.irit.fr/
dataset:
  conversion_dict: 
  hdf5_file: "/projects/pnria/caroline/AUTOFILL/data_sept_25/pair_data.h5"
  metadata_filters:
  requested_metadata: 
  sample_frac: 1.0

training:
  output_dir: "/projects/pnria/julien/autofill/runs/"
  num_gpus: 1
  num_nodes: 1
  num_epochs: 100
  patience: 20
  use_loglog: false

  batch_size: 8
  num_workers: 1

  lambda_param: 0.005
  weight_latent_similarity: 0.005
  weight_saxs2saxs: 0.04
  weight_saxs2les: 1
  weight_les2les: 0.5
  weight_les2saxs: 1

  max_lr: 1.0e-05

  T_max: 25
  eta_min: 1.0e-10
  array_train_indices: /projects/pnria/caroline/AUTOFILL/data_sept_25/train_(pair_saxs_les).npy
  array_val_indices: /projects/pnria/caroline/AUTOFILL/data_sept_25/val_(pair_saxs_les).npy

model:
  VAE_LES:
    vae_class: ResVAEBN 
    path_checkpoint: /projects/pnria/caroline/AUTOFILL/results_sept_25/les_cylinder_ag_1/best.ckpt
    args:


  VAE_SAXS:
    vae_class: ResVAEBN 
    path_checkpoint: /projects/pnria/caroline/AUTOFILL/results_sept_25/AUTOFILL_saxs_1000_loss_special/saxs_cylinder_ag_loss_special/best.ckpt
    args:

param_grid:
  training.weight_latent_similarity: [0.005, 0.001]
  training.weight_saxs2saxs: [ 0.04, 0.01]
  training.weight_les2les: [0.04, 0.01]
  training.weight_saxs2les: [0.5, 1.0]
  training.weight_les2saxs: [0.5, 1.0]